<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WellCare</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link rel="icon" href="../static/index/img/favicon.png">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/profile.css') }}" />



</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">

        {%if user.image%}
        <img src="{{url_for('static', filename = 'img/' + user.image)}}" alt=""
          class="img-fluid rounded-circle">
        {%else%}
        <img src="../static/img/profilephoto.webp" alt="" class="img-fluid rounded-circle">
        {%endif%}
        <h1 class="text-light"><a href="#">{{user.fullName}}</a></h1>
        <!--upload photo-->
        <form class="d-flex justify-content-center" action="/add/photo" method="post" enctype="multipart/form-data">
          <div class="input-div">
            <input class="input" name="image" type="file">
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor" class="icon"><polyline points="16 16 12 12 8 16"></polyline><line y2="21" x2="12" y1="12" x1="12"></line><path d="M20.39 18.39A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.3"></path><polyline points="16 16 12 12 8 16"></polyline></svg>
          </div>
          <button type="submit" class="btnCloud">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="30" height="30" class="icon"><path d="M22,15.04C22,17.23 20.24,19 18.07,19H5.93C3.76,19 2,17.23 2,15.04C2,13.07 3.43,11.44 5.31,11.14C5.28,11 5.27,10.86 5.27,10.71C5.27,9.33 6.38,8.2 7.76,8.2C8.37,8.2 8.94,8.43 9.37,8.8C10.14,7.05 11.13,5.44 13.91,5.44C17.28,5.44 18.87,8.06 18.87,10.83C18.87,10.94 18.87,11.06 18.86,11.17C20.65,11.54 22,13.13 22,15.04Z"></path></svg>
          </button>

        </form>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>

          <li><a href="/" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto active"><i class="bx bx-user"></i> <span>Who Am i</span></a>
          </li>
          <li><a href="#contact" class="nav-link scrollto"><i class='bx bxs-file-plus'></i> <span>Add info</span></a>
          </li>
          <li><a href="/reset/{{user.id}}" class="nav-link scrollto"><i class='bx bx-reset'></i><span>Reset Password</span></a></li>
          <li><a href="/" class="nav-link scrollto"><i class='bx bx-arrow-back'></i><span>Go Back</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>{{user.fullName}}</h1>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Who am I</h2>
          <p>{{user.short_info}}</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            {%if user.image%}
            <img src="{{url_for('static', filename = 'img/' + user.image)}}" class="img-fluid" alt="error">
            {%else%}
            <img src="../static/img/profilephoto.webp" class="img-fluid" alt="">
            {%endif%}
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>My info</h3>

            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{user.birthday}}</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{user.tel}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{user.city}}</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{user.age}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{user.degree}}</span>
                  </li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{user.email}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Add info Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        {%if not user%}
        <form action="/profile/info" method="post" role="form" class="php-email-form">
        {%else%}
        <form action="/profile/update" method="post" role="form" class="php-email-form">
        {%endif%}


            <div class="row">
              <div class="form-group col-md-6">
                <label for="birthday">Birthday</label>
                <input type="date" name="birthday" class="form-control" id="birthday" value="{{user.birthday}}"
                  required>
              </div>
              <div class="form-group col-md-6">
                <label for="age">Age</label>
                <input type="number" class="form-control" name="age" id="age" value="{{user.age}}" required>
              </div>
              <div class="form-group col-md-6">
                <label for="tel">Number of Phone</label>
                <input type="text" class="form-control" name="tel" id="tel" value="{{user.tel}}" required>
              </div>
              <div class="form-group col-md-6">
                <label for="degree">Degree</label>
                <input type="text" class="form-control" name="degree" id="degree" value="{{user.degree}}" required>
              </div>

            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" id="city" value="{{user.city}}" required>
            </div>

            <div class="form-group">
              <label for="position">Position</label>
              <input type="text" class="form-control" name="position" id="position" value="{{user.position}}" required>
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <input type="text" class="form-control" name="gender" id="gender" value="{{user.gender}}"
                required>
            </div>
            <div class="form-group">
              <label for="short_info">About me:</label>
              <textarea class="form-control" name="short_info" rows="10" required>{{user.short_info}}</textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Save my Info</button></div>
          </form>


      </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="copyright">
      &copy; Copyright <strong><span>WellCare Hospital</span></strong>
    </div>


  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/vendor/typed.js/typed.umd.js"></script>
  <script src="../static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/js/profile.js"></script>

</body>

</html>