<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WellCare</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link rel="icon" href="../static/index/img/favicon.png">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body style="background-color: #d7f3fa;">
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>WellCare Hospital</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link">Home</a>
            <a href="/profile" class="nav-item nav-link">Profile</a>
            <a href="/patient/cartel" class="nav-item nav-link">Patients</a>
            <a href="/appointement" class="nav-item nav-link active">Appointements</a>
            <a href="/colleague" class="nav-item nav-link">Colleague</a>
            <a href="/logout" class="nav-item nav-link">Logout</a>
        </div>

    </div>
</nav>
<!-- Navbar End -->

<br><br>
<!--Display all appointmet-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-0 shadow mt-4">
                <div class="card-header bg-white">
                    <h1 class="m-0 text-center fs-1">Appointements</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Appointment Date</th>
                                <th scope="col">Appointment Time</th>
                                <th scope="col">Full Name</th>
                                <th scope="col">Send Email</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for appointement in appointments %}
                                <tr>
                                    <td>{{ appointement.appointment_date }}</td>
                                    <td>{{ appointement.appointment_time }}</td>
                                    <td>{{ appointement.fullName }}</td>
                                    <td>{{ appointement.email }}</td>
                                    <td>
                                        <a href="/appointement/{{ appointement.id }}" class="btn btn-sm btn-primary">View</a>
                                        <a href="/appointement/{{ appointement.id }}/edit"
                                           class="btn btn-sm btn-warning">Edit</a>
                                        <a href="/appointement/{{ appointement.id }}/delete"
                                           class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card border-0 shadow mt-4">
                <div class="card-header bg-white">
                    <h1 class="m-0 text-center fs-1">Shifts</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Start Time</th>
                                <th scope="col">End Time</th>
                                <th scope="col">Shift</th>
                                <th scope="col">Done</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for shift in shifts %}
                                <tr>
                                    <td>{{ shift.date }}</td>
                                    <td>{{ shift.start }}</td>
                                    <td>{{ shift.end }}</td>
                                    <td>
                                        {% if shift.done == 0 %}
                                            <span class="badge bg-danger">Not Done</span>
                                        {% else %}
                                            <span class="badge bg-success">Done</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="/shift/{{ shift.id }}" class="btn btn-sm btn-primary">Done</a>
                                    </td>
                                </tr>
                                </tbody>
                            {% endfor %}
                            {% with messages = get_flashed_messages(category_filter=["shift"]) %}
                                {% if messages %}

                                    {% for message in messages %}
                                        <p class="text-danger text-center">{{ message }}</p>
                                    {% endfor %}

                                {% endif %}
                            {% endwith %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">WellCare Hospital</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Designed By <a class="border-bottom" href="">Flori Bica</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/wow/wow.min.js"></script>
<script src="../static/lib/easing/easing.min.js"></script>
<script src="../static/lib/waypoints/waypoints.min.js"></script>
<script src="../static/lib/counterup/counterup.min.js"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../static/lib/tempusdominus/js/moment.min.js"></script>
<script src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js"></script>
</body>

</html>