<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WellCare</title>
    <link rel="icon" href="../static/index/img/favicon.png">
    <link rel="stylesheet" href="../../static/css/app_style.css">
</head>
<body>

    <div class="card">
        <div class="tools">
          <div class="circle">
            <a href="/appointement" class="red box"></a>
          </div>
          <div class="circle">
            <span class="yellow box"></span>
          </div>
          <div class="circle">
            <span class="green box"></span>
          </div>
        </div>
        <div class="card__content">
            {% for appointment in appointments %}
            <div class="name">
                <label for="fullName">Full Name:</label>
                <h2>{{ appointment.fullName }}</h2>
            </div>
            <div class="datetime">
              <label for="datetime">Date and Time:</label>
              <p>{{ appointment.appointment_date }} at {{ appointment.appointment_time }}</p>
          </div>
            <div class="email">
                <label for="email">Email:</label>
                <p><a href="mailto:{{ appointment.email }}">{{ appointment.email }}</a></p>
            </div>
            <br>
            <h2>Edit Date and Time</h2>
            <form action="/edit_appointment_datetime/{{ appointment.id }}" method="post">
                <div class="date">
                    <label for="date">Date:</label>
                    <input type="date" class="input" name="date">
                </div>
                <div class="time">
                    <label for="time">Time:</label>
                    <input type="time" class="input" name="time">
                </div>
                <button type="submit" class="btn">Save</button>
            </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>