<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WellCare</title>
  <link rel="icon" href="../static/index/img/favicon.png">


  <link rel="stylesheet" href="../static/css/view.css">
</head>

<body>
  <div class="container">
    <div class="card cart">
      <label class="title">{{user.fullName}}</label>
      <hr>
      <div class="steps">
        <div class="step">
          <div>
            <span>Personal Info</span>
            <form action="/edit/process/{{user.id}}" method="post">
              <div class="d-flex">
                <div class="col-auto">
                  <label for="fullName" class="col-form-label">Full Name:</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="fullName" name="fullName" class="form-control"
                    aria-describedby="passwordHelpInline" value="{{user.fullName}}" required>
                </div>
              </div>
              <div class="d-flex">
                <div class="col-auto">
                  <label for="username" class="col-form-label">Username:</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="username" name="username" class="form-control"
                    aria-describedby="passwordHelpInline" value="{{user.username}}" required>
                </div>
              </div>
              <div class="d-flex">
                <div class="col-auto">
                  <label for="email" class="col-form-label">E-mail:</label>
                </div>
                <div class="col-auto">
                  <input type="email" id="email" name="email" class="form-control" aria-describedby="passwordHelpInline"
                    value="{{user.email}}" required>
                </div>
              </div>
              <div class="d-flex">
                <div class="col-auto">
                  <label for="role" class="col-form-label">Role:</label>
                </div>
                <div class="col-auto">
                  <input type="text" id="role" name="role" class="form-control" aria-describedby="passwordHelpInline"
                    value="{{user.role}}" required>
                </div>
              </div>
              <p>Created At:{{user.created_at}} | Update At: {{user.update_at}}</p>
          </div>
          <hr>
          <div>
            <span>More Info</span>
            <p>Gender: {{user.gender}}</p>
            <p>Birthday: {{user.birthday}}</p>
            <p>Age: {{user.age}}</p>
            <p>Address: {{user.city}}</p>
            <p>Phone: {{user.tel}}</p>
          </div>
          <hr>
          <div>
            <span>Education</span>
            <p>Degree: {{user.degree}}</p>
            <p>Specialized In: {{user.position}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card back">
      <div class="footer">
        <button type="submit" class="back-btn">Save</button>
        <a href="/" class="back-btn">Go Back</a>
      </div>
    </div>
  </div>
  </form>
</body>

</html>